/* 
CSS Syntax
    The Grammar of the CSS Language

    selector => Who are you gonna change?
    property => What are you gonna change?
    value => How do you change it?
    selector {
        property: value;
    }
*/


body {
    background-color: #A267AC;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: #9D84B7;
    width: 5%;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}